html{
	font-family: Arial;
}

/* override padding-bottom from contextMenu/css/screen.css */
html body{
	padding-bottom: 0;
}

body, #pianoNotes{
	display: none;
}

table, tr, td{
	border: 1px solid #000;
}

.thinBorder{
	background: linear-gradient(to right, rgba(255,255,255,0) 97%, rgba(0,0,0,1) 3%);
}

.thickBorder{
	background: linear-gradient(to right, rgba(255,255,255,0) 93%, rgba(0,0,0,1) 7%);
}

#piano{
	display: inline-block;
	
	/* this is important for letting the grid expand horizontally */
	white-space: nowrap;
}

#wavetypeLabel, #tempoLabel{
	font-family: 'arial', 'gothic ms';
	font-size: 14px;
	padding-left: 10px;
}

#changeTempo{
	width: 40px;
}

#title{
	margin: 0 auto;
	text-align: center;
}

#toolbar{
	/* border: 1px solid #000; */
	position: relative;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

#toolbar ul{
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

#toolbar li{
	list-style-type: none;
	display: inline-block; 
}

#toolbar li h2, label{
	font-size: 12px;
	font-weight: bold;
}

#pianoNotes{
	position: absolute;
	width: 50px;
	z-index: 100;
	background-color: #fff;
}

#instrumentGrid{
	position: relative;
}

#demo{
	margin-top: 10px;
}

.footer{
	position: relative;
	text-align: center;
	margin-top: 3%;
	font-size: 12px;
	font-family: 'arial';
	border-top: 1px solid #000;
}

.btn{
	border: 1px solid #000;
	border-radius: 2px;
	padding: 4px;
	box-shadow: .1em .1em #d3d3d3;
}

.btn:hover{
	background-color: #d0d0d0;
}

select, option{
	height: 24px;
}