<!-- profile page for piano roll app -->

<!doctype html>


<html>

<head>
	<title> profile page </title>
</head>

<style>

	body{
		font-family: Arial;
	}
	
	#userFacts{
		float:left;
		height: 100%;
		width: 15%;
	}
	
	#scores{
		float:left;
		text-align:center;
		border-left: 1px solid #000;
		border-bottom: 1px solid #000;
		width: 70%;
		height: 100%;
	}

	#avatar{
		display: block;
		height: 150px;
		width: 150px;
		border: 1px solid #000;
	}


</style>


<body>

<div id='container'>

	<!-- basic info about user -->
	<div id='userFacts'>
		<h2> welcome back <%= user.local.username %> </h2>
		<div id='avatar'>
		</div>
		<h3> location: unknown </h3>
		<h3> joined: never </h3>
		
		<br>
		
		<div id='about'>
			<h3> about </h3>
			<p> blah blah blah </p>
			<p> sdfjklfkldsl sfkls </p>
			<hr />
		</div>
		
		<br>
		
		<h3> <a href="/pianoRoll"> go to piano roll </a> </h3>
		<h3> <a href=""> check out public scores </a> </h3>
		
	</div>
	
	<!-- the user's scores -->
	<div id='scores'>
		<h2> <%= user.local.username %>'s scores </h2>
		<!-- some container with columns and rows to display scores for user -->
		<div id=''>
		</div>
	</div>
	

		
</div>
	
	
</body>

</html>